@import "./generic/reset";
@import "generic/variables";

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  80% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

//Main application

.main-content {
  min-height: 55.3vh;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $basic-color;
  font-family: $basic-font;
}

//Header

.header__container {
  height: 90px;
  width: $basic-width;
  display: flex;
  justify-content: space-between;
  background-color: $header-color;
  padding: $basic-padding;
  align-self: flex-start;

  .logo__container {
    height: $basic-height;
    width: 88px;
    background-image: url("../images/main-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logo__link {
    display: block;
    height: $basic-height;
    width: $basic-width;
    color: transparent;
  }

}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  .nav-element {
    font-size: 20px;
    font-weight: $font-bold;
    text-decoration: none;
    color: #000000;
    transition: all .2s ease-in-out;
    position: relative;
    width: $basic-width;
    white-space: nowrap;

    .jewelry-elements {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: $header-color;
      border: 1px solid $header-color;
      width: 130%;
      padding: 10px;
    }

    &:hover {
      transform: scale(1.1);
    }

    .jewelry-element {
      display: none;
      text-decoration: none;
      color: $basic-font-color;
      font-weight: $font-normal;
      padding: 7px 0 0 0;
      font-size: 14px;

      &:hover {
        color: $menu-highlight-color;
      }
    }

  }

  .nav-element:hover .jewelry-element {
    display: flex;
  }

}

//Search engine

.search {
  padding: 30px 150px 0 0;
  align-self: flex-end;
  display: block;

  input {
    border: 2px solid #eabca5;
  }
}

//Carousel with images

.main-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 150px 0 150px;

}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//About section on main page

.about-container {
  background-image: url("../images/About_background.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 150px 130px 150px;
  gap: 50px;
  line-height: 1.5em;

  .about-collection {
    text-decoration: none;
    color: black;
    font-weight: $font-bold;
    border: 2px solid $additional-color;
    border-radius: 35px;
    padding: 15px;
    background-color: $additional-color;
    opacity: 1;

    &:hover {
      animation: bounce 1s;
    }

    &:active {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }

  }
}

//Information section on main page

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $basic-width;
  background-color: $additional-color;
  padding: 30px 150px;

  .information-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 14px;

    .information-element {
      text-decoration: none;
      color: black;
    }

    .information-element:first-of-type {
      font-size: 16px;
      font-weight: $font-bold;
      padding: 0 0 5px 0;
    }

    .click-element:nth-child(n+2):hover {
      transform: scale(1.1);
      font-weight: $font-bold;
    }

  }

}

//Footer

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: $basic-width;
  background-color: $header-color;
  padding: 10px 40px;

  .footer__general {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: $basic-height;

    .footer__shop-name {
      font-weight: $font-bold;
    }

    .footer__copy {
      font-size: 10px;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: $basic-height;
  }

  .social__invite {
    font-size: 10px;
  }

  .socials_icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .social_icon {
      color: $basic-font-color;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

//Contact form

.contact {
  padding: 80px 150px;
  display: flex;
  width: $basic-width;
  justify-content: space-between;

  &__column {
    width: 50%;
  }

  &__title {
    font-size: 26px;
  }

  &__instruction {
    margin: 22px 0;
    font-size: 16px;
  }

}

.details__item {
  color: $basic-font-color;
  font-weight: $font-bold;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: $font-bold;
    color: $basic-font-color;
    margin: 0 0 10px 0;
  }

  &__input {
    border: none;
    border-bottom: 1px solid $header-color;
    background-color: transparent;
    line-height: 2.625rem;
    margin: 0 0 20px 0;
  }

  &__consent {
    margin-top: 15px;
  }

  &__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 10px;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

}

.form .btn {
  padding: 10px 25px;
  align-self: flex-end;
  margin-top: 10px;
  border: 2px solid $additional-color;
  background-color: $additional-color;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  font-weight: $font-bold;

  &:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}

//How to buy component

.how-to-buy {
  width: $basic-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 150px;
  font-weight: $font-bold;

  .buy-list {
    display: flex;
    flex-direction: column;
    list-style-type: decimal;
    gap: 20px;
    font-size: 26px;
    align-self: flex-start;

    .buy-element {
      font-weight: $font-normal;
      font-size: 16px;
    }

  }
}

//Jewelry menu

.jewelry-menu {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;

  .jewelry-category {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    text-decoration: none;
    color: $basic-font-color;
    font-weight: $font-bold;
    font-size: 20px;

    .jewelry-title:hover {
      transform: scale(1.1);
    }

    .jewelry-img {
      height: 200px;
      width: 320px;
      border-radius: 30px;
      box-shadow: 0 0 20px $additional-color;
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -webkit-transition: all 1s ease;

      &:hover {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        transition: 1s ease;
        transform: scale(1.1);
      }
    }
  }
}